@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

/* EDGE, CHROME, SAFARI */
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: white;
}
html::-webkit-scrollbar-track {
  background-color: black;
}

/* FIREFOX */
html {
  scrollbar-color: white black;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
